body{
	font-weight:400;
	color:$primary;
	background:white;
}
main{
	position:relative;
	top:0;
	left:0;
	width:100%;
}
section{
	padding:160px 0;
}
/* ——————————————————————

BUTTONS

——————————————————————— */
.btn-group{
	> *{
		display:inline-block;
		margin-right:12px;
		&:last-child{
			margin-right:0;
		}
	}
}
.btn{
	height:40px;
}
.btn-apply{
	height:44px;
	padding:0 1.25em;
	font-size:15px;
	line-height:44px;
	font-weight:700;
	background:$orange;
	color:white;
	border-radius:0 15px 0 15px;
	box-shadow:0 0 0 0 rgba(0,0,0,0);
	@include transition(all 0.6s $easeOutExpo);
	&:hover{
		box-shadow:0 3px 6px 0 rgba(0,0,0,0.3);
		background:darken($orange, 5%);
	}
}
.btn-primary{
	height:40px;
	padding:0 1.5em;
	font-size:14px;
	line-height:40px;
	font-weight:600;
	background:white;
	color:$primary;
	border:0.5px solid rgba(0,0,0,0.1);
	border-radius:0 15px 0 15px;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	@include transition(all 0.6s $easeOutExpo);
	&.white{
		background:white;
	}
	&.orange{
		background:$orange;
	  color:white;
	  &:hover{
			background:darken($orange, 5%);
		}
	}
	i{
		color:$orange;
		margin-right:2px;
	}
	&:hover{
		box-shadow:0 3px 6px 0 rgba(0,0,0,0.3);
	}
}

/* ——————————————————————

HEADER

——————————————————————— */
header{
	z-index:8;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:80px;
	padding:0 0 0 30px;
	background:transparent;
	@include transition(background 0.4s $easeOutExpo);
	&.down{
		transform: translate3d(0,-90px,0);
	}
	&.active{
		background:$primary;
		.phone-header{
			a{
				color:$primary;
			}
		}
	}
	a{
		color:white;
		font-size:15px;
		font-weight:600;
		letter-spacing:-0.025em;
		margin-right:30px;
	}
	.nav-btn {
	  position: relative;
	  z-index: 1020;
	  width:80px;
	  height: 80px;
	  cursor: pointer;
	  background:$primary;
	  .nav-btn_inner{
	  	position:relative;
	  	width: 28px;
	  	height: 16px;
	  }
	  span {
		  height: 2px;
		  width: 28px;
		  background: white;
		  position: absolute;
		  z-index: 4;
		  display: block;
		  @include transform(rotate(0));
		  @include transition(all 0.4s $easeOutExpo);
		  &:nth-child(1) {
			  top: 0;
			}
			&:nth-child(2) {
			  top: 7px;
			}
			&:nth-child(3) {
			  bottom: 0;
			}
		}
		&.open{
			span{
				&:nth-child(1) {
				  top: 7px;
				  @include transform(rotate(45deg));
				}
				&:nth-child(2) {
				  opacity: 0;
				}
				&:nth-child(3) {
				  bottom: 7px;
				  @include transform(rotate(-45deg));
				}
			}
		}
	}
}

#site-menu{
	z-index:6;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:scroll;
	background:rgba(43,43,43,0.95);
	@include transform(translateY(100%));
	@include transition(transform 0.4s  $easeOutExpo);
	will-change:transform;
	.site-menu_inner{
		z-index:1;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		min-height:480px;
		padding:60px 30px;
		color:white;
	}
	.site-menu_inner-top{
		margin-top:80px;
		gap:100px;
		span{
			display:block;
			font-size:12px;
			text-transform:uppercase;
		}
		li{
			display:block;
			font-size:40px;
			font-size: clamp(30px, 8vh, 45px);
			line-height:1;
			letter-spacing:-0.05em;
			padding:0.5em 0;
			border-bottom:1px solid rgba(255,255,255,0.2);
			@include opacity(0);
			@for $i from 1 through 10 {
		    &:nth-child(#{$i}) {
		    	@include transform(translateY(60px * $i));
		    	@include transition(transform 1.2s (0.05s * $i) $easeOutExpo, opacity 1.2s (0.05s * $i) $easeOutExpo);
		    }
		  }
		  a{
				color:white;
				@include transition(color 0.4s $easeOutExpo);
				&:hover{
					color:$orange;
				}
			}
			i{
				position:absolute;
				top:50%;
				left:-1.5em;
				@include transform(translateY(-50%));
				font-size:0.32em;
				color:$orange;
			}
		  &:last-child{
		  	display:flex;
		  	align-items:center;
		  	height:36px;
		  	font-size:15px;
				line-height:1;
				letter-spacing:0;
				margin-top:40px;
				border-bottom:none;
		  }
		  &.site-menu_social{
		  	gap:15px;
		  	a{
					width:36px;
					height:36px;
					border-radius:100%;
					border:1px solid rgba(255,255,255,0.2);
					font-size:15px;
					@include transition(all 0.6s $easeOutExpo);
					&:hover{
						border-color:$orange;
						i{
							color:$orange;
						}
					}
				}
		  	i{
					position:relative;
					top:0;
					left:0;
					@include transform(translateY(0));
					font-size:15px;
					color:white;
					@include transition(color 0.6s $easeOutExpo);
				}
		  }
		}
	}
	&.open{
		@include transform(translateY(0));
		.site-menu_inner li, .site-menu_inner-bottom{
			@include opacity(1);
		  @include transform(translateY(0));
		}
	}
}

/* ——————————————————————

HERO

——————————————————————— */
.hero{
	position:relative;
	width:100%;
	height:100vh;
	min-height:400px;
	background:$primary;
	color:white;
	overflow:hidden;
	.back-btn-left{
		z-index:4;
		display:inline-block;
		position:absolute;
		top:100px;
		left:30px;
		font-size:15px;
		font-weight:600;
		color:white;
		i{
			margin-right:5px;
		}
	}
	.back-btn-right{
		z-index:4;
		display:inline-block;
		position:absolute;
		top:100px;
		right:30px;
		font-size:15px;
		font-weight:600;
		color:white;
		i{
			margin-right:5px;
		}
	}
	.hero_sections{
		z-index:2;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		color:white;
		a{
			width:100%;
			height:100%;
			cursor:pointer;
			color:white;
		}
		.col--2{
			background:rgba(40,40,40,0.6); 
			@include transition(all 0.6s $easeOutExpo);
			&:hover{
				width:60%;
				background:rgba(40,40,40,0.4);
				i{
					&.fa-chevron-left{
						left:-50px;
						animation-duration: 0.4s;
					  animation-name: hover-arrow-left;
					}
					&.fa-chevron-right{
						right:-50px;;
						animation-duration: 0.4s;
					  animation-name: hover-arrow-right;
					}
				}
			}
		}
	}
	.hero_sections--text{
		position:absolute;
		bottom:25%;
		h2{
			display:inline-block;
			position:relative;
		}
		h3{
			text-indent:6px;
		}
		i{
			position:absolute;
			bottom:16px;
			color:$orange;
			font-size:50px;
			@include transition(all 0.6s $easeOutExpo);
			&.fa-chevron-left{
				left:-45px;
			}
			&.fa-chevron-right{
				right:-45px;
			}
		}
	}
	video{
		z-index:0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit: cover;
		&.video-faded{
			@include opacity(0.5);
		}
	}
	.img--max{
		z-index:0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit: cover;
		object-position: bottom;

	}
	
}


.mouse-scroll {
	z-index:6;
  position: absolute;
  bottom: 10px;
  left: 50%;
	transform: translateY(0) translateX(-50%) scale(0.85);
	opacity:1;
	@include transition(all 0.6s $easeOutExpo);
  #mouse-wheel{
  	animation: mouse-scroll 2.4s ease-out infinite;
  }
	#mouse-scroll-arrows{
		#top-arrow{
			animation: mouse-arrows-top 1.8s 0.5s ease-out infinite;
		}
  	#bottom-arrow{
			animation: mouse-arrows-bottom 1.8s ease-out infinite;
		}
  }
	#top-arrow{
		@include transform(translateY(-10px));
	}
	&.hide{
		transform: translateY(-30px) translateX(-50%) scale(0.85);
	  opacity:0;
	}
}


@keyframes mouse-arrows-top {
	0% {
    transform: translateY(0);
		opacity:1;
  }
	50% {
    transform: translateY(10px);
		opacity:0;
  }
	100% {
    transform: translateY(-20px);
		opacity:0;
  }
}
@keyframes mouse-arrows-bottom {
	0% {
    transform: translateY(10px);
		opacity:1;
  }
	50% {
    transform: translateY(20px);
		opacity:0;
  }
	100% {
    transform: translateY(-20px);
		opacity:0;
  }
}

@keyframes mouse-scroll {
	0% {
    transform: translateY(4px);
  }
  10% {
  	transform: translateY(0);
  }
  20% {
  	transform: translateY(0);
  }
  30% {
    transform: translateY(4px);
  }
  
  80% {
  	transform: translateY(0);
  }
  90% {
  	transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}


@keyframes hover-arrow-left {
  0% {
  	@include opacity(1);
    @include transform(translateX(0));
  }
  25% {
  	@include opacity(0);
    @include transform(translateX(-25px));
  }
  50% {
    @include opacity(0);
    @include transform(translateX(25px));
  }
  100% {
  	@include opacity(1);
    @include transform(translateX(0));
  }
}
@keyframes hover-arrow-right {
  0% {
  	@include opacity(1);
    @include transform(translateX(0));
  }
  25% {
  	@include opacity(0);
    @include transform(translateX(25px));
  }
  50% {
    @include opacity(0);
    @include transform(translateX(-25px));
  }
  100% {
  	@include opacity(1);
    @include transform(translateX(0));
  }
}

/* ——————————————————————

COMPANY OVERVIEW

——————————————————————— */
.company-overview_intro{
	p{
		max-width:500px;
	}
	
}
.company-overview_bullets{
	width:180px;
	.col{
		padding:25px 0;
		border-bottom:0.5px solid $border_light;
		&:first-child{
			padding-top:0;
		}
		&:last-child{
			border:none;
			padding-bottom:0;
		}
		h3{
			font-size:14px;
			margin-top:0.5em;
			color:$secondary;
		}
	}
}


/* ——————————————————————

DRIVER OVERVIEW

——————————————————————— */
.driver-overview{
	background:$bg-light;
	padding-bottom:0;
}
.driver-overview_truck {
	img{
		margin:60px auto 0 auto;
	}
}


/* ——————————————————————

FOOTER

——————————————————————— */
footer{
	padding:50px 0;
	.footer_menu{
		padding-bottom:25px;
		a{
			font-size:17px;
			font-weight:600;
			color:$primary;
			margin-right:50px;
		}
		.footer_social{
			a{
				display:flex;
				align-items:center;
				justify-content: center;
				width:36px;
				height:36px;
				border-radius:100%;
				border:1px solid $border_light;
				font-size:15px;
				margin:0 0 0 10px;
			}
		}
	}
	.footer_map{
		padding:100px 0;
		background:$primary url('../img/chicago-map.jpg') no-repeat left center;
		background-size:auto 100%;
		font-size:15px;
		h4{
			font-weight:700;
			text-transform:uppercase;
			color:white;
			margin-bottom:10px;
		}
		a{
			color:white;
			line-height:1.5;
		}
	}
	.footer_bottom{
		padding-top:20px;
		font-size:15px;
		color:$secondary;
		a{
			color:$secondary;
			margin-left:30px;
		}
	}
}



/* ——————————————————————

PAGE TRANSITIONS

——————————————————————— */










